#information-page
{
    @extend %margin-center;
    width: 400px;
}

#page-404
{
    
}

#page-404 h1
{
    margin-left: auto;
    margin-right: auto;   
}

#page-404 h2
{
    
}

#page-404 h3
{
    
}

#page-404 h4
{
    
}

#page-404 h5
{
    
}

#page-404 p
{
    
}
